/* ! Font imports */

@font-face {
  font-family: "Copycat";
  src: url("../assets/fonts/CopyCat.ttf");
}
@font-face {
  font-family: "Excelorate";
  src: url("../assets/fonts/Excelorate-Font.otf");
}
@font-face {
  font-family: "Protomo";
  src: url("../assets/fonts/Protomo_-_Free_Font/Protomo.otf");
}
@font-face {
  font-family: "Protomo-Outline";
  src: url("../assets/fonts/Protomo_-_Free_Font/Protomo-Outline.otf");
}
@font-face {
  font-family: "Cageroll-Standard";
  src: url("../assets/fonts/Cageroll_-_Free_Y2K_Font/Cageroll-Standard.otf");
}
@font-face {
  font-family: "Cageroll-Cage";
  src: url("../assets/fonts/Cageroll_-_Free_Y2K_Font/Cageroll-Cage.otf");
}
@font-face {
  font-family: "Cageroll-Roll";
  src: url("../assets/fonts/Cageroll_-_Free_Y2K_Font/Cageroll-Roll.otf");
}
@font-face {
  font-family: "Neuropol";
  src: url("../assets/fonts/neuropol/neuropol.otf");
}

/* ! General */

* {
  box-sizing: border-box;
  margin: 0;
  transition: all 0.2s ease-in;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(0, 213, 255, 0.7);
}

h1 {
  font-family: "Cageroll-Standard";
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1 span {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
}

h2 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.emp {
  font-family: Cageroll-Standard;
  font-size: 2rem;
}

.emp-2 {
  font-family: "Cageroll-Standard";
  font-size: 1.5rem;
}

/* ! Navigation */

.burger {
  display: none;
}

nav {
  top: 0;
  position: fixed;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

nav a {
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
  padding: 7px 20px;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 100px;
}

nav span a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px;
  padding: 0px 0px;
}

/* ? Navigation on Phone Screen */

@media only screen and (max-width: 600px) {
  nav {
    top: 0;
    position: relative;
    /* display: flex; */
    padding: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px;
    padding: 0 15px;
  }

  #nav-links {
    /* flex-basis: 100%; */
    width: 100%;
  }

  #nav-links a {
    display: block;
    /* float: left; */
    margin: 1px 0 0 0;
    padding: 10px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* nav.responsive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  } */

  /* nav a {
    display: block;
    float: left;
    margin: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 7px 20px;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
  } */

  #nav-links a {
    display: none;
  }
  .nav-top a.burger {
    display: inline-flex;
    float: right;
    background: none;
    padding: 0;
  }

  #nav-links.responsive a {
    /* float: none; */
    display: block;
    /* text-align: left; */
  }

  nav span a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0px;
    padding: 0px 0px;
  }
}

/* ? Sections */

/* ! Top */

.top {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 1);
  /* background: linear-gradient(
    180deg,
    rgb(0, 72, 255) 0%,
    rgb(0, 4, 224) 50%,
    rgb(0, 46, 131) 100%
  ); */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.5); */
}

/* Top */

.profile-pic {
  border-radius: 300px;
  width: calc(100% / 4 - 20px);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  margin: 30px 50px 30px 30px;
  border: 0px solid rgb(0, 0, 0, 0.5);
  background-color: white;
}

.label {
  position: absolute;
  padding: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  margin-top: -4px;
  margin-left: -1px;
  transform: translateY(-100%);
  background-color: rgba(255, 255, 255, 1);
}

#about {
  background-color: rgba(255, 255, 255, 0);
  padding: 30px;
  margin: 0 auto;
  width: calc(100% / 2.5);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0.5px solid rgb(0, 0, 0, 0.2);
  border-radius: 0px;
}

.about-text {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 40px;
  color: rgb(0, 0, 0);
}

#headline {
  background-color: rgba(0, 0, 0, 0.1);
  /* padding: 30px; */
  margin: 0 auto;
  width: calc(100% / 2.5);
  border: 0.1px solid rgb(0, 0, 0, 0.1);
  border-radius: 0px;
}

.headline-text {
  padding: 30px;
  color: rgb(0, 0, 0);
  /* background-color: rgba(255, 255, 255, 1); */
}

hr.about {
  margin: 20px 0px 20px 0px;
  border: 0px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 1px;
  max-width: 70%;
}

/* .icons {
  margin-top: 20px;
} */
.icons img {
  width: 50px;
}

/* ? Top on Phone Screen */

@media only screen and (max-width: 600px) {
  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .profile-pic {
    border-radius: 300px;
    width: calc(100% / 2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    margin: 10px 30px 40px 30px;
    border: 0px solid rgb(0, 0, 0, 0.5);
    background-color: white;
  }
  #about {
    padding: 30px;
    margin: 0px 0px 100px 0px;
    width: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 0px solid rgb(0, 0, 0, 0.2);
  }

  .about-text {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
    padding: 20px 0px 0px 20px;
  }

  #headline {
    width: 100%;
    margin: 0 auto;
  }
}

/* ! Software Engineering Stack */

.stack {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

.stack #about {
  background-color: rgb(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about.stack-class {
  width: calc(100% / 1.8);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
  /* border: 1px solid; */
  /* padding: 20px; */
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.8rem;
}

ul img {
  width: 100%;
  min-width: 50%;
  padding: 10px;
  border: 0px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

li {
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* padding: 20px; */
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px;
  text-align: center;
  width: calc(100% / 7 - 15px);
  margin: 40px 20px 0px 20px; */
}

li span {
  /* position: absolute;
  transform: translateY(-100%);
  margin-top: 0px;
  margin-left: 0px; */

  text-align: center;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 0.8rem;
}

li p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
}

/* ! Grid test */

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  gap: 10px;
  /* background-color: #2196f3; */
  padding: 10px;
}

.grid > li {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* ! */

/* ? Stack on Phone Screen */

@media only screen and (max-width: 600px) {
  .stack {
    height: auto;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    /* background: rgb(255, 255, 255); */
    margin: 50px 0px 0px 0px;
    position: static;
  }

  #about.stack-class {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .stack > #about {
    padding: 10px;
    margin: 0px 0px 50px 0px;
  }

  /* ! Mobile Grid test */

  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
  }
}

/* ? Stack on Tablet Screen */

@media only screen and (min-width: 768px) and (min-width: 601px) {
  .stack {
    height: auto;
    margin: 50px 0px 0px 0px;
    position: static;
  }

  .stack h1 {
    font-size: 3rem;
  }

  #about.stack-class {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .stack > #about {
    padding: 10px;
    margin: 0px 0px 50px 0px;
  }

  li span {
    font-size: 1.3rem;
  }

  /* ! Tablet Grid test */

  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    padding: 10px;
  }
}

/* ! Projects */

.projects h1 {
  margin: 10px 0px 10px 0px;
}

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: calc(100% / 1.7);
  padding: 20px 0px;
  background-color: rgba(0, 0, 0, 0.1);
}

.projects-col-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* height: 30%; */
}

.projects-col-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* height: 30%; */
  /* width: 100%; */
}

.proj {
  width: calc(100% / 2.5 - 30px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 0px;
  padding: 20px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
}

.proj h4 {
  margin-top: 5px;
  font-size: 0.8rem;
}

h4 span {
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 15px 5px 15px;
}

.proj img {
  max-width: 100%;
  margin-bottom: 10px;
  /* max-height: calc(100% / 2 - 30px); */
  /* max-height: 20%; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ? Projects on Phone Screen */

@media only screen and (max-width: 600px) {
  .projects h1 {
    margin: 10px 0px 20px 0px;
  }

  .projects {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .projects-col-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
  }

  .projects-col-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 0px 10px;
  }

  .proj {
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }

  .proj h4 {
    margin-top: 5px;
    font-size: 0.8rem;
  }

  h4 span {
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 15px 5px 15px;
    margin: 10px 0px 10px 0px;
  }

  .proj img {
    max-width: 100%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* ! Popups */

#popup-container {
  visibility: hidden;
  opacity: 0;
  margin: 0 auto;
  position: fixed;
  height: 100vh;
  width: 100%;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  /* z-index: -222222; */
}

.popup {
  position: fixed;
  /* z-index: -222222; */
  visibility: hidden;
  border: 1px solid;
  width: calc(100% / 1.2);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}

#project-4 {
  visibility: hidden;
  opacity: 0;
  transform: scaleX(0.8) scaleY(0.8);
}

#project-3 {
  visibility: hidden;
  opacity: 0;
  transform: scaleX(0.8) scaleY(0.8);
}

#project-2 {
  visibility: hidden;
  opacity: 0;
  transform: scaleX(0.8) scaleY(0.8);
}

#project-1 {
  visibility: hidden;
  opacity: 0;
  transform: scaleX(0.8) scaleY(0.8);
}

.img-container {
  width: 50%;
}

.img-container img {
  width: 100%;
  /* min-width: 100%; */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.popup-text {
  width: 50%;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0px 0px 0px 40px;
  margin: 0px 0px 0px 60px;
}

.popup-text p {
  font-size: 1rem;
  margin: 20px 0px 20px 0px;
}

.popup-link {
  margin: 40px 0px 0px 0px;
}

.popup-link a {
  border: 1px solid;
  padding: 10px;
  margin: 0px 20px 0px 0px;
}

/* ? Popups on Phone Screen */

@media only screen and (max-width: 600px) {
  #popup-container {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    overflow: scroll;
  }
  
  .popup {
    top: 10px;
    margin: 0px 0px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: calc(100% / 1.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 15px 16px 15px;
  }
  
  .img-container {
    width: 100%;
  }
  
  .popup-text {
    width: 100%;
    border-left: none;
    padding: 0 0 0 0;
    margin: 15px 0px 0px 0px;
  }
  
  .popup-text p {
    font-size: 1.2rem;
    margin: 15px 0px 0px 0px;
  }
  
  .popup-link {
    margin: 40px 0px 20px 0px;
  }
  
  .popup-link a {
    margin: 0px 20px 0px 0px;
  }
}

/* ! */

/* More Section */

.bottom {
  height: 100vh;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  /* border-top: 1px solid rgba(0, 0, 0, 0.5); */
  padding: 0px;
}

div#bottom {
  margin: 40px;
}

#more {
  /* padding: 40px; */
  margin: 20px;
  width: calc(100% / 2);
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5); */
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; */
  border-radius: 0px;
  /* box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); */
}

#more > .label {
  position: absolute;
  font-family: Cageroll-Standard;
  font-size: 1.5rem;
}

#more hr {
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0px 10px 0px;
}

.more-text {
  /* border-top: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 30px;
  color: rgb(0, 0, 0);
  margin: 0px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.more-text p {
  margin: 0px 0px 0px 0px;
  font-size: 0.9rem;
  font-weight: lighter;
}

.more-text h4 {
  font-size: 0.9rem;
  margin: 0px 0px 10px 0px;
}

.more-text img {
  max-width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* ? More Section on Phone Screen */

@media only screen and (max-width: 600px) {
  .bottom {
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }

  div#bottom {
    margin: 40px;
  }

  #more {
    margin-top: 50px;
    width: 100%;
  }

  .more-text p {
    font-size: 1rem;
  }

  .more-text img {
    max-width: 100%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

/* Footer */

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  font-size: 0.8rem;
  font-weight: lighter;
}
